---
layout: base
---

<div>
    <center>
        <h1>
            The 2nd Workshop on Responsibly Building the Next Generation of Multimodal Foundational Models
        </h1>
        </br>
        <h3>
            NeurIPS 2025 (Tentative)
        </h3>
        <h3>
            San Diego, USA
        </h3>
        <h3>
            Prior edition: <a href="https://openreview.net/group?id=NeurIPS.cc/2024/Workshop/RBFM">NeurIPS 2024</a>
        </h3>
    </center>
</div>

<div>
    <h1 class="page-heading">Introduction</h1>
    <p>In recent years, the importance of multimodal approaches integrating language, images, video, and audio has grown
        exponentially, driven by their impact in various fields such as robotics. However, these technologies present
        critical challenges in reliability and security, with LLMs producing "hallucinations" and Text-to-Image models
        potentially generating harmful content. These challenges have become particularly evident with the release of
        models like GPT-4o and Veo3.</p>

    <p>Current efforts to address these issues often create new challenges, leading to resource-intensive cycles of
        problem-solving. This highlights the urgent need for preemptive and sustainable approaches in developing the
        next generation of multimodal foundational models. It's crucial to establish robust design principles before
        building models that can understand and generate multiple modalities.</p>

    <p>Our workshop serves as a platform to unite the community in shaping responsible design principles for
        next-generation multimodal models. <b>This year, we especially encourage discussion and research on multimodal
            unified architectures, agentic AI systems, and human-value alignment.</b> Our focus is on early detection
        and prevention of reliability issues, promoting security, equity, and sustainability in AI progress.</p>

    <p>The goals of this workshop are to:</p>

    <ul>
        <li>Discuss the next generation of multimodal foundational models beyond GPT-4o & Veo.</li>
        <li>Discuss methodologies that enhance the reliability of multimodal models, tackling key issues such as
            fairness, security, misinformation, and hallucinations.</li>
        <li>Enhance the robustness of these models against adversarial and backdoor attacks, thereby securing their
            integrity in adversarial environments.</li>
        <li>Identify the sources of reliability concerns, whether they stem from data quality, model architecture, or
            pre-training strategies.</li>
        <li>Explore novel design principles emphasizing responsibility and sustainability in multimodal models, aiming
            to reduce their extensive data and computational demands.</li>
    </ul>
</div>


</br>
</br>

<div>
    <h1 class="page-heading">More details are coming soon! Stay tuned!</h1>
</div>

</br>
</br>

<div>
    <h1 class="page-heading">Keynotes</h1>
</div>

<div class="container">
    <div class="card">
        <img src="https://cs.stanford.edu/~ermon/IMG_8217_s_1.jpg" alt="Stefano Ermon">
        <div class="info">
            <p class="name">Stefano Ermon</p>
            <p class="position">Stanford & Inception Labs</p>
            <a href="https://cs.stanford.edu/~ermon/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=ogXTOZ4AAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://xiaocw11.github.io/img/avatar_new.jpg" alt="Chaowei Xiao">
        <div class="info">
            <p class="name">Chaowei Xiao</p>
            <p class="position">University of Wisconsin, Madison & Nvidia</p>
            <a href="https://xiaocw11.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=Juoqtj8AAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://www.metisstrategy.com/wp-content/uploads/2022/03/Lama_Nachman.jpg.rendition.intel_.web_.480.360.jpg"
            alt="Lama Nachman">
        <div class="info">
            <p class="name">Lama Nachman</p>
            <p class="position">Intel Labs</p>
            <a href="https://www.intel.com/content/www/us/en/research/featured-researchers/lama-nachman.html/"
                target="_blank"> Website</a>
            <a href="#" target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://energy-based-model.github.io/reduce-reuse-recycle/materials/people/sander.png"
            alt="Sander Dieleman">
        <div class="info">
            <p class="name">Sander Dieleman</p>
            <p class="position">Google Deepmind</p>
            <a href="https://sander.ai/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=yNNIKJsAAAAJ" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

</div>


<div>
    <h1 class="page-heading">Panel</h1>
</div>
<div>
    <h1 class="page-heading">Rising Stars Lightning Talks</h1>
</div>
<!-- <div>
    <br>
    <h1 class="page-heading" style="text-align: center;">Schedule</h1>
    <hr>
    <br>

    {% assign talks = site.talks %}
    {%- for talk in talks -%}

    <div class="footer-col-wrapper" style="{{talk.style}}">
        <div class="footer-col footer-col-1">
            <img src="{{talk.photo}}" width="128" height="128">
            <br>
            <p>
                <br>
                <b>Date:</b> {{ talk.Date }}
                <br>
                <b>Time:</b> {{ talk.Time }}
                <br>
                <b>Location:</b> {{ talk.Location }}
                <br>
                <b>YouTube Recooding: </b> <a href="{{ talk.YTLink }}">Link</a>
            </p>
            </p>
            <br>
            <img src="{{talk.aff_photo}}" width="128">
        </div>

        <div class="footer-col footer-col-3" style="width:60%">
            <b style="font-size: 21px;"><a href="{{ talk.Profile }}">{{ talk.Name }}</a></b></br>
            <b>{{ talk.Affilication }}</b></br>

            <p><b>Title: </b>{{ talk.Title }}</p>
            <p><b>Abstract: </b>{{ talk.Details }}</p>
        </div>



    </div>
    <hr>
    <br>

    {%- endfor -%}


</div> -->

<div>
    <h1 class="page-heading">Organizers</h1>

    {% assign orgs = site.orgs %}

    <div class="footer-col-wrapper">
        {%- for person in orgs -%}


        <div class="footer-col" style="padding-right: 60px;">
            <center>
                <img src="{{ person.photo }}" width="128" height="128"></br>
                <b><a href="{{ person.profile }}">{{ person.name }}</a></b>
                <!-- <p>{{ person.position }} </br> {{ person.affiliation }}</p> -->
                <p>{{ person.affiliation }}</p>
            </center>
        </div>

        {%- endfor -%}
    </div>

</div>